@font-face {
    font-family: 'arkibal';
    src: url('arkibal-serif-stencil-medium-webfont.woff2') format('woff2'),
        url('arkibal-serif-stencil-medium-webfont.woff') format('woff');
        font-weight: lighter;
}

html {
    background: rgb(22,116,53);
    background: linear-gradient(32deg, rgba(22,116,53,1) 0%, rgba(247,181,127,1) 47%, rgba(169,245,49,1) 100%) no-repeat center center fixed;
    background-size: cover;
    font-family: arkibal, helvetica, arial;
}

.headerContainer {
    padding-top: 2%;
    text-align: center;
    align-content: center;
    background-image: linear-gradient(to bottom right, #5a8a55, #378B2E);
    color: white;
    font-size: 30px;
    text-shadow: 2px 2px #000000;
    border-radius: 10px;
    width: 100%;
    height: 200px;
    box-shadow: 1px 3px rgb(32, 32, 32);
}

@media screen and (max-width: 414px) {
    .headerContainer {
        height: 125px;
        font-size: 20px;
    }
}

body {
    font-family: arkibal, helvetica, arial;
    text-shadow: 2px 2px #000000;
}

.header {
    font-family: arkibal, helvetica, arial;
    text-align: center;
}

.site-content {
    display: flex;
    align-content: center;
    justify-content: center;
    font-size: 20px;
    background-image: linear-gradient(to bottom right, #3b6d33, #1A6811);
    margin: 5% 32% 32% 32%;
    color: #ffffff;
    height: 600px;
    width: 35%;
    border-radius: 10px;
    box-shadow: 2px 2px 3px rgb(0, 0, 0);
}

@media screen and (max-width: 1024px) {
    .site-content {
        width: 75%;
        margin: 30px auto auto;
        height: 900px;
        font-size: 20px;
    }
}

@media screen and (max-width: 768px) {
    .site-content {
        width: 75%;
        margin: auto;
        height: 700px;
        margin-top: 30px;
        font-size: 14px;
    }
}

@media screen and (max-width: 414px) {
    .site-content {
        width: 90%;
        margin: auto;
        height: 525px;
        margin-top: 30px;
        font-size: 14px;
    }
}

@media screen and (max-width: 375px) {
    .site-content {
        width: 90%;
        margin: auto;
        height: 485px;
        margin-top: 30px;
        font-size: 14px;
    }
}

@media screen and (max-width: 360px) {
    .site-content {
        width: 90%;
        margin: auto;
        height: 450px;
        margin-top: 30px;
        font-size: 14px;
    }
}

@media screen and (max-width: 320px) {
    .site-content {
        width: 95%;
        margin: auto;
        height: 375px;
        margin-top: 30px;
        font-size: 14px;
    }
}

.tipContainer {
    text-align: center;
    align-items: center;
    background-image: linear-gradient(to bottom right, #5FAE57, #9b9157);
    border-radius: 10px;
    width: 80%;
    height: 75%;
    margin-top: 7%;
    box-shadow: 3px 3px 5px rgb(0, 0, 0);
}


.borderOne {
    border-bottom: 3px solid #185c0b;
    width: 50%;
    margin-left: 25%;
}

@media screen and (max-width: 1024px) {
    .borderOne {
        padding-top: 10%;
    }
}

@media screen and (max-width: 414px) {
    .borderOne {
        padding-top: 5%;
    }
}

@media screen and (max-width: 375px) {
    .borderOne {
        padding-top: 2%;
    }
}

@media screen and (max-width: 320px) {
    .borderOne {
        display: none;
    }
}

.borderTwo {
    border-bottom: 3px solid #185c0b;
    width: 50%;
    margin-left: 25%;
}

@media screen and (max-width: 1024px) {
    .borderTwo {
        padding-top: 10%;
    }
}

@media screen and (max-width: 414px) {
    .borderTwo {
        padding-top: 5%;
    }
}

@media screen and (max-width: 375px) {
    .borderTwo {
        padding-top: 5%;
    }
}

@media screen and (max-width: 320px) {
    .borderTwo {
        display: none;
    }

    .foodAmount {
        width: 30%;
    }
}

@media screen and (max-width: 1024px) {
    .tipContainer {
        height: 85%;
    }
}

@media screen and (max-width: 414px) {
    .tipContainer {
        height: 80%;
    }
}

@media screen and (max-width: 375px) {
    .tipContainer {
        height: 85%;
        width: 90%;
    }
}

.foodAmount {
    text-align: center;
    font-size: 22px;
    border-radius: 5px;
    height: 30px;
    width: 15%;
}

@media screen and (max-width: 414px) {
    .foodAmount {
        width: 25%;
    }
}

@media screen and (max-width: 375px) {
    .foodAmount {
        width: 25%;
    }
}

@media screen and (max-width: 1024px) {
    .serviceQuestion {
        padding-top: 10%;
    }
}
@media screen and (max-width: 375px) {
    .serviceQuestion {
        padding-top: 0%;
    }
}

@media screen and (max-width: 320px) {
    .serviceQuestion {
        padding-top: 0%;
    }
}

#badService {
    font-family: arkibal, helvetica, arial;
    height: 50px;
    width: 12%;
    border-radius: 10px;
    background-color: rgb(253, 205, 205);
    visibility: visible;
}

#badService:hover {
    background-color: rgb(255, 187, 187);
    box-shadow: 1px 1px 5px black;
}

@media screen and (max-width: 1541px) {
    #badService {
        width: 22%;
        margin: auto;
    }
}

@media screen and (max-width: 1024px) {
    #badService {
        width: 22%;
        margin: auto;
        font-size: 12px;
    }
}

@media screen and (max-width: 768px) {
    #badService {
        width: 22%;
        margin: auto;
    }
}

@media screen and (max-width: 414px) {
    #badService {
        width: 22%;
        margin: auto;
    }
}

@media screen and (max-width: 375px) {
    #badService {
        width: 22%;
        margin: auto;
        font-size: 10px;
    }
}

.okayService {
    font-family: arkibal, helvetica, arial;
    height: 50px;
    width: 12%;
    border-radius: 10px;
    background-color: rgb(253, 242, 205);
    visibility: visible;
}

.okayService:hover {
    background-color: rgb(255, 239, 187);
    box-shadow: 1px 1px 5px black;
}

@media screen and (max-width: 1541px) {
    .okayService {
        width: 22%;
        margin: auto;
    }
}

@media screen and (max-width: 768px) {
    .okayService {
        width: 22%;
        margin: auto;
        font-size: 12px;
    }
}

@media screen and (max-width: 768px) {
    .okayService {
        width: 22%;
        margin: auto;
    }
}

@media screen and (max-width: 414px) {
    .okayService {
        width: 22%;
        margin: auto;
    }
}

@media screen and (max-width: 375px) {
    .okayService {
        width: 22%;
        margin: auto;
        font-size: 10px;
    }
}

.goodService {
    font-family: arkibal, helvetica, arial;
    height: 50px;
    width: 12%;
    border-radius: 10px;
    background-color: rgb(220, 253, 205);
    visibility: visible;
}

.goodService:hover {
    background-color: rgb(188, 253, 158);
    box-shadow: 1px 1px 5px black;
}

@media screen and (max-width: 1541px) {
    .goodService {
        width: 22%;
        margin: auto;
    }
}

@media screen and (max-width: 1024px) {
    .goodService {
        font-size: 0.75rem
    }
}

@media screen and (max-width: 375px) {
    .goodService {
        font-size: 10px;
    }
}

.excellentService {
    font-family: arkibal, helvetica, arial;
    height: 50px;
    width: 12%;
    border-radius: 10px;
    background-color: rgb(122, 245, 106);
    visibility: visible;
}

.excellentService:hover {
    background-color: rgb(70, 224, 50);
    box-shadow: 1px 1px 5px black;
}

@media screen and (max-width: 1541px) {
    .excellentService {
        width: 22%;
        margin: auto;
    }
}

@media screen and (max-width: 1209px) {
    .excellentService {
        width: 22%;
        margin: auto;
    }
}

@media screen and (max-width: 1038px) {
    .excellentService {
        width: 22%;
        margin: auto;
    }
}

@media screen and (max-width: 1024px) {
    .excellentService {
        width: 22%;
        margin: auto;
    }
}

@media screen and (max-width: 768px) {
    .excellentService {
        width: 22%;
        margin: auto;
    }
}

@media screen and (max-width: 414px) {
    .excellentService {
        width: 25%;
        margin: auto;
    }
}

@media screen and (max-width: 375px) {
    .excellentService {
        width: 25%;
        margin: auto;
    }
}

@media screen and (max-width: 360px) {
    .excellentService {
        width: 25%;
        margin: auto;
    }
}

@media screen and (max-width: 320px) {
    .excellentService {
        width: 25%;
        margin: auto;
    }
}

.reset {
    position: relative;
    margin-top: 6%;
    font-family: arkibal, helvetica, arial;
    height: 50px;
    width: 50%;
    border-radius: 10px;
    background-color: rgb(209, 209, 209);
}

.reset:hover {
    background-color: rgb(179, 179, 179);
    box-shadow: 1px 1px 5px black;
}


@media screen and (max-width: 1024px) {
    .reset {
        margin-top: 7%;
    }
}

@media screen and (max-width: 768px) {
    .reset {
        margin-top: 19%;
    }
}

@media screen and (max-width: 753px) {
    .reset {
        margin-top: 24.5%;
    }
}

@media screen and (max-width: 735px) {
    .reset {
        margin-top: 25.5%;
    }
}

@media screen and (max-width: 720px) {
    .reset {
        margin-top: 26.5%;
    }
}

@media screen and (max-width: 709px) {
    .reset {
        margin-top: 28.5%;
    }
}

@media screen and (max-width: 676px) {
    .reset {
        margin-top: 30.5%;
    }
}

@media screen and (max-width: 650px) {
    .reset {
        margin-top: 32.5%;
    }
}

@media screen and (max-width: 617px) {
    .reset {
        margin-top: 37.5%;
    }
}

@media screen and (max-width: 617px) {
    .reset {
        margin-top: 42.5%;
    }
}

@media screen and (max-width: 520px) {
    .reset {
        margin-top: 49.5%;
    }
}

@media screen and (max-width: 476px) {
    .reset {
        margin-top: 55.5%;
    }
}

@media screen and (max-width: 414px) {
    .reset {
        position: relative;
        font-size: 10px;
        margin-top: 9%;
    }
}

@media screen and (max-width: 375px) {
    .reset {
        font-size: 10px;
        margin-top: 12%;
        height: 8%;
    }
}

@media screen and (max-width: 360px) {
    .reset {
        font-size: 10px;
        margin-top: 9.5%;
    }
}

@media screen and (max-width: 320px) {
    .reset {
        font-size: 10px;
        margin-top: 10%;
    }
}


@media screen and (max-width: 1024px) {
    .tipTotal {
        margin-top: 25%;
    }
}

@media screen and (max-width: 768px) {
    .tipTotal {
        margin-top: 15%;
    }
}

@media screen and (max-width: 375px) {
    .tipTotal {
        margin-top: 18%;
    }
}

@media screen and (max-width: 360px) {
    .tipTotal {
        margin-top: 12%;
    }
}

@media screen and (max-width: 320px) {
    .tipTotal {
        margin-top: 10%;
        font-size: 13px;

    }
}

@media screen and (max-width: 320px) {
    .billTotal {
        font-size: 13px;

    }
}




