html {
    background-color: black;
}

.containerHeader {
    display: flex;
    justify-content: center;
    font-size: 5vmin;
    padding-top: 2%;
}

.mainGameTitle {
    position: relative;
    color: rgb(241, 241, 241);
}

.subGameTitle {
    position: relative;
    left: 1%;
    color: rgb(184, 184, 184);
}

input {
    text-align: center;
    border-radius: 5px;
    height: 20px;
}

body {
    color: cornsilk;
}


.gameContainer {
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-evenly;
    margin: 6vh auto;
    height: 70vh;
    width: 100vh;
    text-align: center;
    border: 1px solid #fdfdd3;
    border-radius: 2%;
    background-color: rgb(87, 87, 87);
}

#warriorPlay {
    height: 5%;
    width: 15%;
    border: none;
    border-radius: 5px;
    box-shadow: black 1px 1px;
}

#magePlay {
    height: 5%;
    width: 15%;
    border: none;
    border-radius: 5px;
    box-shadow: black 1px 1px;
}

.question {
    width: 100%;
    top: 2%;
    font-size: 2rem;
}


.warriorCharacter {
    text-align: center;
    display: inline-block;   
    height: 250px;
    width: 150px;
    overflow: hidden;
}

.warriorSprite {
    height: 15rem;
    width: 30rem;
}

.mageCharacter {
    text-align: center;
    display: inline-block;
    margin-top: 10%;
    height: 250px;
    width: 160px;
    overflow: hidden;
}

.mageSprite {
    height: 13rem;
    width: 35rem;
}

/* Moves the spritesheet to the left to animimate sprites. */
@keyframes moveSpritesheet {
    from {
transform: translate3d(0px,0,0)
    }
    to {
transform: translate3d(-100%,0,0)
    }
}

.mageContainer:hover .mageSprite {
    animation: moveSpritesheet .75s steps(3);
}

.warriorContainer:hover .warriorSprite {
    animation: moveSpritesheet .75s steps(3);
}

.warriorContainer {
    justify-content: center;
    position: relative;
    border: 1px solid #fdfdd3;
    width: 140vw;
    max-width: 45%;
    max-height: 80%;
    height: 92vw;
    border-radius: 2%;
    background-color: rgb(206, 206, 206);
    opacity: 50%;
}

.warriorContainer:hover {
    visibility: visible;
    cursor: pointer;
    background-color: rgb(255, 125, 125);
    transition: ease-in .2s;
    transform: scale(1.02);
    opacity: 100%;  
    box-shadow: inset 0 0 2px #000000;

}

.mageContainer {
    position: relative;
    border: 1px solid #fdfdd3;
    width: 45%;
    height: 80%;
    border-radius: 2%;
    background-color: rgb(206, 206, 206);
    opacity: 50%;
}

.mageContainer:hover {
    transition: ease-in .2s;
    cursor: pointer;
    background-color: rgb(108, 213, 255);
    transform: scale(1.02);
    opacity: 100%;
    box-shadow: inset 0 0 2px #000000;
}


#classTitleWarrior {
    font-size: 2rem;
}

#classDescriptionTitleWarrior {
    padding-top: 4vh;
    font-size: 1.5rem;
    text-decoration: underline;
}

#classDescriptionTitleMage {
    font-size: 1.5rem;
    text-decoration: underline;
}

#classTitleMage {
    font-size: 2rem;
}

#classDescriptionWarrior {
    font-size: 1.25rem;
}

#classDescriptionMage {
    font-size: 1.25rem;
}

#warriorPlay {
    visibility: hidden;
}

#magePlay {
    visibility: hidden;
}

.footerContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-evenly;
    color: gray;
}

.copyright {
    cursor: pointer;
}

.copyright:hover {
    color: rgb(153, 153, 153);
}

.howToPlay {
    cursor: pointer;
}

.howToPlay:hover {
    color: rgb(153, 153, 153);
}

.gameTimer {
    display: none;
    position: absolute;
    font-size: 1em;
}

#turnDirector {
    font-size: 1.5em;
    color: #8ffd8f;
}

#time {
    font-size: 2em;
    margin-top: 0px;
}

.playerHPBox {
    font-size: 90%;
    display: none;
    position: absolute;
    margin-top: 60vh;
    margin-right: 80vh;
    opacity: 85%;
}

#playerHealth {
    position: fixed;
    padding-left: 12vh;
    padding-top: .25vh;
}

#playerName {
    position: fixed;
    padding-left: 2vh;
    padding-top: .25vh;
}
.warriorHealth {
    position: absolute;
    height: 6vh;
    box-shadow: 2px 5px 18px #000000;
}

#testWarrior {
    display: none;
    position: relative;
    margin-right: auto;
    margin-left: 10vh;
    margin-top: 40vh;
    width: 20vh;
    overflow: hidden;
}

.warriorFun {
    animation: moveSpritesheet .6s steps(2) infinite;
    height: 20vh;
    width: 40vh;
}


#testMonster {
    display: none;
    height: 30vh;
    width: 20vh;
    overflow: hidden;
    position: relative;
    margin-right: 12vh;
    margin-top: auto;
}

.monsterHPBox {
    font-size: 90%;
    display: none;
    position: absolute;
    margin-top: 60vh;
    margin-left: 45vh;
    opacity: 85%;
}

.monsterHealth {
    position: absolute;
    height: 6vh;
    box-shadow: 2px 5px 18px #000000;
}

#monsterHealthBar {
    position: fixed;
    padding-left: 12vh;
    padding-top: .25vh;
}

#monsterName {
    position: fixed;
    padding-left: 2vh;
    padding-top: .25vh;
}

.monsterFun {
    height: 15vh;
}

.monsterFun {
    animation: moveSpritesheet .7s steps(3) infinite;
}

.questionContainer {
    display: none;
    align-items: center;
    align-content: space-between;
    background-color: rgb(78, 78, 78);
    position: absolute;
    margin-top: 20vh;
    padding-top: 2%;
    width: 40vw;
    height: 20vh;
    border-radius: 8px;
    opacity: 80%;
    font-size: 3rem;
    box-shadow: 2px 2px 18px black;;
}

.questionContainer button {
    cursor: pointer;
    text-align: center;
    width: 70%;
    height: 30%;
    max-width: 6vw;
    max-height: 3vw;
    margin-top: 4%;
    border: none;
    border-radius: 4px;
    background-color: rgb(230, 230, 230);
    color: rgb(0, 0, 0);
    box-shadow: 2px 2px 2px black;
    opacity: 100%;
    font-size: 1.25rem;
}

@media only screen and (max-height: 1020px) {
    #warriorPlay {
        width: 25%;
    }

    .warriorSprite {
        height: 14rem;
    }

    #classTitleWarrior {
        margin-bottom: 0;
    }

    #classTitleMage {
        margin-bottom: 0;
    }

    .warriorCharacter {
        height: 220px;
    }

    #classDescriptionTitleWarrior {
        padding-top: 5%;
    }

    #classDescriptionTitleMage {
        margin: 0;
    }

    .mageCharacter {
        margin-top: 7%;
        height: 200px;
    }

    .question {
        margin-bottom: 0;
    }
}

@media only screen and (max-height: 1000px) {
    #classDescriptionTitleMage {
        margin-top: 7%;
    }

    #playerHealth {
        padding-top: 0vh;
        padding-left: 11vh;
    }

    #playerName {
        padding-top: 0vh;
    }

    #monsterName {
        padding-top: 0vh;
    }

    #monsterHealthBar {
        padding-top: 0vh;
        padding-left: 11vh;
    }
}

@media only screen and (max-height: 800px) {
    .warriorSprite {
        height: 14rem;
    }

    #classTitleWarrior {
        margin-bottom: 0;
    }

    .warriorCharacter {
        height: 211px;
    }

    #classDescriptionTitleWarrior {
        padding-top: 0px;
    }

    #classDescriptionTitleMage {
        margin-top: 3%;
    }

    .warriorHealth {
        height: 7vh;
    }

    .monsterHealth {
        height: 7vh;
    }

}