html {
    background-color: black;
}

.containerHeader {
    display: flex;
    justify-content: center;
    font-size: 5vmin;
    padding-top: 2%;
}

.mainGameTitle {
    position: relative;
    color: rgb(241, 241, 241);
}

.subGameTitle {
    position: relative;
    left: 1%;
    color: rgb(184, 184, 184);
}

input {
    text-align: center;
    border-radius: 5px;
    height: 20px;
}

body {
    color: cornsilk;
}


.gameContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-evenly;
    margin: 5rem auto;
    height: 50rem;
    width: 50%;
    text-align: center;
    border: 1px solid #fdfdd3;
    border-radius: 2%;
    background-color: rgb(87, 87, 87);
}

#warriorPlay {
    height: 5%;
    width: 15%;
    border: none;
    border-radius: 5px;
    box-shadow: black 1px 1px;
}

#magePlay {
    height: 5%;
    width: 15%;
    border: none;
    border-radius: 5px;
    box-shadow: black 1px 1px;
}

.question {
    width: 100%;
    top: 2%;
    font-size: 2rem;
}


.warriorCharacter {
    text-align: center;
    display: inline-block;   
    height: 250px;
    width: 150px;
    overflow: hidden;
}

.warriorSprite {
    height: 15rem;
    width: 30rem;
}

.mageCharacter {
    text-align: center;
    display: inline-block;
    margin-top: 10%;
    height: 250px;
    width: 160px;
    overflow: hidden;
}

.mageSprite {
    height: 13rem;
    width: 35rem;
}

/* Moves the spritesheet to the left to animimate sprites. */
@keyframes moveSpritesheet {
    from {
transform: translate3d(0px,0,0)
    }
    to {
transform: translate3d(-100%,0,0)
    }
}

.mageContainer:hover .mageSprite {
    animation: moveSpritesheet .75s steps(3);
}

.warriorContainer:hover .warriorSprite {
    animation: moveSpritesheet .75s steps(3);
}

.warriorContainer {
    position: relative;
    border: 1px solid #fdfdd3;
    width: 45%;
    height: 80%;
    border-radius: 2%;
    background-color: rgb(206, 206, 206);
    opacity: 50%;
}

.warriorContainer:hover {
    visibility: visible;
    cursor: pointer;
    background-color: rgb(255, 125, 125);
    transition: ease-in .2s;
    transform: scale(1.02);
    opacity: 100%;  
    box-shadow: inset 0 0 2px #000000;

}

.mageContainer {
    position: relative;
    border: 1px solid #fdfdd3;
    width: 45%;
    height: 80%;
    border-radius: 2%;
    background-color: rgb(206, 206, 206);
    opacity: 50%;
}

.mageContainer:hover {
    transition: ease-in .2s;
    cursor: pointer;
    background-color: rgb(108, 213, 255);
    transform: scale(1.02);
    opacity: 100%;
    box-shadow: inset 0 0 2px #000000;
}


#classTitleWarrior {
    font-size: 2rem;
}

#classDescriptionTitleWarrior {
    padding-top: 10%;
    font-size: 1.5rem;
    text-decoration: underline;
}

#classDescriptionTitleMage {
    font-size: 1.5rem;
    text-decoration: underline;
}

#classTitleMage {
    font-size: 2rem;
}

#classDescriptionWarrior {
    font-size: 1.25rem;
}

#classDescriptionMage {
    font-size: 1.25rem;
}

#warriorPlay {
    visibility: hidden;
}

#magePlay {
    visibility: hidden;
}

.footerContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-evenly;
    color: gray;
}

.copyright {
    cursor: pointer;
}

.copyright:hover {
    color: rgb(153, 153, 153);
}

.howToPlay {
    cursor: pointer;
}

.howToPlay:hover {
    color: rgb(153, 153, 153);
}

.gameTimer {
    display: none;
    font-size: 1em;
}

#turnDirector {
    font-size: 1.5em;
    color: rgb(143, 253, 143);
}

#time {
    font-size: 2em;
    margin-top: 0px;
}


